* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'SuisseIntl', 'Helvetica', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #3f3f48;
  min-height: 100vh;
  background-color: #f2f2f2;
  position: relative;
  font-size: 0.8rem;
  line-height: 1.5;
}

.main-background {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #f2f2f2;
  min-height: 100vh;
}

.title {
  font-size: 2rem;
  margin-top: 30px;
  margin-bottom: 30px;
}

.grid-container {
  display: grid;
  grid-template-rows: 50px;
  grid-auto-rows: auto;
  min-width: 400px;
  max-width: 400px;
  min-height: 400px;
  min-height: 400px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 1px 20px rgb(0 27 58 / 5%);
}

.grid-row {
  grid-column: 1 / -1;
}

.message-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px 20px;
  text-align: center;
}

.form-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px 20px;
  text-align: center;
}

.input {
  width: 250px;
}

.answer-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  background-color: #fdfdfd;
  border-top: 1px;
  border-top-style: groove;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.answer-title {
  font-size: 0.9rem;
}
